.feedback-wrapper {
  align-items: center;
  background-image: linear-gradient(to right top, #d16ba5, #ca7ebe, #c090d1, #b7a2e0, #b0b2ea, #a6bef4, #9ec9fb, #97d4ff, #81dfff, #6ce9ff, #5ef3fe, #5ffbf1);
  display: grid;
  grid-template-columns: 1fr 396px 1fr;
  grid-template-rows: 100px 25px 25px 100px 100px;
  height: 100vh;
}

.btn-play-again {
  background-color: #3f88ee;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  grid-column: 2;
  grid-row: 4;
  height: 70px;
  margin: auto;
  margin-top: 30px;
  outline: none;
  width: 300px;
}

.btn-ranking {
  background: #e463c3;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  grid-column: 2;
  grid-row: 5;
  height: 70px;
  margin: auto;
  margin-bottom: 10px;
  outline: none;
  width: 300px;
}

.feedback-question {
  color: #33327e;
  font-size: 20px;
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}

.feedback-score {
  color: #33327e;
  font-size: 20px;
  grid-column: 2;
  grid-row: 3;
  margin: auto;
}

.feedback-text {
  color: #33327e;
  font-size: 45px;
  grid-column: 2;
  margin: auto;
}
